#stats {
    border: 8px black solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    font-style: normal;
}

.feliz-slider.ant-slider-disabled .ant-slider-track {
    background-color: pink !important;
    /* Color para Feliz */
    height: 10px;
    border-radius: 0%;
}

.triste-slider.ant-slider-disabled .ant-slider-track {
    background-color: lightblue !important;
    /* Color para Triste */
    height: 10px;
    border-radius: 0%;
}

.calor-slider.ant-slider-disabled .ant-slider-track {
    background-color: orange !important;
    /* Color para Calor */
    height: 10px;
    border-radius: 0%;
}

.frio-slider.ant-slider-disabled .ant-slider-track {
    background-color: lightcyan !important;
    /* Color para Frio */
    height: 10px;
    border-radius: 0%;
}

.sue単o-slider.ant-slider-disabled .ant-slider-track {
    background-color: lavender !important;
    /* Color para Sue単o */
    height: 10px;
    border-radius: 0%;
}

.hambre-slider.ant-slider-disabled .ant-slider-track {
    background-color: lightgreen !important;
    /* Color para Hambre */
    height: 10px;
    border-radius: 0%;
}

/* Ocultar el handle de los sliders */
.feliz-slider .ant-slider-handle,
.triste-slider .ant-slider-handle,
.calor-slider .ant-slider-handle,
.frio-slider .ant-slider-handle,
.sue単o-slider .ant-slider-handle,
.hambre-slider .ant-slider-handle {
    display: none;
}

.feliz-slider.ant-slider-disabled .ant-slider-rail,
.triste-slider.ant-slider-disabled .ant-slider-rail,
.calor-slider.ant-slider-disabled .ant-slider-rail,
.frio-slider.ant-slider-disabled .ant-slider-rail,
.sue単o-slider.ant-slider-disabled .ant-slider-rail,
.hambre-slider.ant-slider-disabled .ant-slider-rail {
    background-color: transparent !important;
}