.layout{
height:100vh;

}
.content {
    background: #fff;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.topContainer {
    flex: 1; /* Esto hará que use el 50% del espacio */
    margin-bottom: 24px; /* Mantén el margen si es necesario */
}

.ambient-container,
.stats-container {
    background-color: rgb(198, 198, 198);
}

.ambient-container {
    margin-left: 20px;
    width: 20%;
}

.stats-container {
    margin-right: 20px;
    width: 20%;
}


.middle-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Asegúrate de que tome todo el alto disponible */
}

.bottomContainer {
    flex: 1; /* Esto hará que use el 50% del espacio restante */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 128, 128);
    flex-shrink: 0; /* Previene que el contenedor se reduzca */
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    background-color: grey;
}

.title {
    color: black;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    font-style: normal;
}

.imgIzquierda img,
.imgDerecha img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

